
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: Raleway, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

/* Header*/
header{
    
    display: flex;
    justify-content: space-between;
}
#logo{
float:left;
padding: 30px;

}
nav{
 display: flex;
 justify-content: space-around;
 width: 100vw;
 }


#sign-up{
   font-weight: 500;
    color: #0065FC;
}
nav>a{
    align-content: flex-end;
    margin-top: 2em;
}
nav>a :hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}


/*  search and filter***/
h1{
    padding: 2rem;
    font-size: 1.5em;
}
#local{
    padding: 2em;
}
#iconemap {
    font-size: 20px;
    background-color: #F2F2F2;
    margin-left: 20px;
    padding: 0.5em;
    width: 2em;
    height: 1em;
    text-align: center;
    border-radius: 10px 0 0 10px;
    
}
.localize{
    height: 3rem;
    border: 1px solid #F2F2F2;
}
#search>button{
    padding: 1em;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    border: none;

}

.value-2{
    display: none;
}
h3{
    margin: 20Px;
}
#filter{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 80%;
}
.block-filter{
    display: flex;
    align-items: center;
   
}
.icon-filter{
position: relative; 
left: 2em;   
color: #0065FC;
background-color: #DEEBFF;
border-radius: 50%;
width: 3em;
height: 2.8em;
display: flex;
justify-content: center;
align-items: center;
position: relative;
left:-0.5em;
}
.block-filter{
    height: 3rem;
    width:max-content; 
    border-radius: 2em ;
    border :1px solid #DEEBFF ;
    color: black;
    cursor: pointer; 
    padding: 0 10px;   
}


.block-filter:hover{
    border: 1px solid #0065FC;
    
}
.info{
    display: flex;
    align-items: center;
}
.icon-info{
    padding: 2em;
    color: #0065FC;
}

/* star icons*/ 
.star{
    color: #0065FC;
}
.star-off>.fas{
    color: #DEEBFF;
}

/* hebergement  section*/
#hebergement{
    background-color: #F2F2F2;
    width: 60vw;
     margin-left: 20px; 
     border-radius: 1rem;
}
#hebergement>h2{
    margin: -10px 20px;
    padding: 2rem;
}
.cards{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
        
}
.card{
    margin: 1rem 0; 
    background-color: white;
    border-radius: 10px;
    width: 16vw;
    padding: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.card>a{
    text-decoration: none;
    color: black;
}
.img>img{
    width: 100%;
    height:100px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card>a>h3{
    margin: 10px 0;
}
.card>a>p{
    margin: 10px 0;
}
#hebergement>h3{
    padding: 2rem;
   
}
.euro{
    font-weight: 800;
}

/* to align hebergement and popular*/
.container-align{
    display: flex;
    justify-content: space-between;
    }

/**** section popular***/
.contain{
    display: flex;
    justify-content: space-between;   
    
    }    
    .title{
    display: flex;
    align-items: center;  
    justify-content: space-evenly;  
    }

    #popular{
    width: 35vw;
    background-color: #F2F2F2;
    padding: 0 50px;
    margin-right: 20px;
    border-radius: 1rem;
    }
    .cards-2{
        display: flex;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        width:32vw   
    }
    .card-p{
        max-width: 100%;
    }
    .img-2{
        display: flex;
        justify-content: center;
        align-content: center;

    }
    .img-2>img{
        width:150px;
        height: auto;
        border-radius: 1em 0 0 1em; 
        object-fit: cover;
        padding-top:2px;
        padding-left: 2px;
                  
    }
    .comment{
       padding:  10px;
       margin-top: 5px;
    }
    .comment>p{
        padding: 20px 10px;
    }
    .card-p{
        width:100%;
        background-color: white;
        margin: 20px -20px; 
        border-radius: 1em; 
        box-shadow: 0 1px 10px rgba(0,0,0,0.2);
              
    }
    .card-p>a{
        text-decoration: none;
        color: black;
        display: inline-block;
        padding:  0;       
    }

    /*activities*/
   
    #activities{
        margin-top: 3rem;
    }
    .activ-title-section{
        margin: 2rem;
    }
        
        .column-1{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-column-gap: 2.5vw;
            grid-row-gap: 1.5rem;
        }
        .action{
            display: flex;
            justify-content: center;
            border-radius: 1em;
            box-shadow: 0 1px 10px rgba(0,0,0,0.2);
        }
        .action-1{
            grid-area: 1/1/3/2;

        }
        .action-2{
            grid-area: 1/2/2/3;
        }
        .action-3{
            grid-area: 2/2/3/3;
        }
        .action-4{
            grid-area: 1/3/3/4;
        }
        .action-5{
           grid-area:  1/4/2/5;
        }
        .action-6{
            grid-area: 2/4/3/5;
        }

        .img-activ{
            width:100%;
            height: 11rem;
            object-fit: cover;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        .big-img{
            height: 27rem;
        }
/*footer*/
       footer {
           display: flex;
           justify-content: space-around;
           margin-top: 4em;
           background-color: #F2F2F2;
           padding: 2em;
       }
       .footer-link{
           display:grid;
           
        }

        





    @media screen and (max-width:1250px){
        .column-1{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
        }
        .action-1{
            grid-area: 1/1/2/2;
        }
        .action-2{
            grid-area: 1/2/2/3;
        }
        .action-3{
            grid-area: 1/3/2/4;
        }
        .action-4{
           grid-area:  2/1/3/2;
        }
        .action-5{
            grid-area: 2/2/3/3;
        }
        .action-6{
            grid-area: 2/3/3/4;
        }
        .big-img{
            height: 11rem;
        }
        .container-align{
            flex-wrap: wrap-reverse;
        }
        #popular{
            width: 100vw;
        }
        .cards-2{
            width: 50vw;
            position: relative;
            left: 10em;
            
        }
        #hebergement{
            width: 100vw;
            background-color: #fff;
        }
        .card{
            min-width: 30vw;
        }
    }
    @media  screen and (max-width:736px) {
        .cards-2{
            justify-content: center;
            position: relative;
            left: 0;
        }
        .cards-2{
            width:80vw;
        }
    }
    @media screen and (max-width: 650px){
       nav{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: repeat(2, 1fr);
           margin: 2em;
       }
       #sign-up{
          grid-area: 2/3/1/2;
          padding-top: 1em;
       }
       .hebergemnent{
           grid-area: 1/2/2/3;          
       }
       #filter{
           flex-wrap: wrap;
       }
    }
       
    @media screen and (max-width:500px){
        .block-filter{
            margin:10px;
        }
        .column-1{
            display: flex;
            flex-direction: column;
        }
        .img-activ{
            height: 9rem;
            width: 90vw;
        }
        .cards{
            justify-content: center;
        }
        .card{
            min-width: 90vw;
        }

        footer{
            display: grid;
            
        }
        .card-p{
            min-width: 90vw;
        }
    }