
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-size:normal;
    font-family: Raleway, sans-serif;
}

/* Header*/
header{
    
    display: flex;
    justify-content: space-between;
}
#logo{
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 2rem;
}

ul{
    display: flex;
    justify-content: space-between;
}
nav>ul>li{
    list-style: none; 
    padding: 3em 2em;

}
nav>ul>li>a{
    text-decoration: none;
    font-weight: 500;
    color:#0065FC;
    
}
nav>ul>li>a :hover{
    border-top: 2px solid #0065FC;
}
#black{
    color: black;
}